.pageWidth {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 22px;
}

@media screen and (min-width: 1090px) {
  .pageWidth {
    padding: 0 55px;
  }
}

.link {
  text-decoration: none;
  color: #2c6ecb;
  font-size: 18px;
}

.content {
  min-height: calc(100vh - 50px);
}

.header {
  background-color: #685f58;
  padding: 2rem;
}

.txtContainer {
  text-align: left;
  color: white;
}

.categoryName {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;

  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pad {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 18px;
}

.productCardContainer {
  display: grid;
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.gridContainer {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  display: grid;
  gap: 2rem;
}

.gridColumn1 {
  grid-column: span 1 / span 1;
}

.gridColumn3 {
  grid-column: span 3 / span 3;
}

@media (min-width: 768px) {
  .productFilter {
    display: block;
  }
}

.productFilter {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.filterHeading {
  margin-bottom: 20px;
  font-weight: 700;
}

.push {
  width: calc(0% + 3px);
  display: block;
  min-width: 0px;
  height: 1px;
}

.push2 {
  width: calc(100% - 6px);
  display: block;
  min-width: 0px;
  height: 1px;
}

.rangeSlider {
  position: relative;
  height: 60px;
  width: 100%;
  display: inline-block;
}

.rangeSlider input {
  position: absolute;
}

input[type="range"] {
  width: 100%;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.tooltip {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: start;
}

.tooltip.min {
  left: 0;
}

.tooltip.max {
  right: 0;
}

.attrFilter {
  margin-top: 2rem;
}

.filterItemTitle {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e1e3e5;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.productSorting {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.productSortingInner {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.sortContainer {
  width: 160px;
  margin-left: 1%;
}

.fieldWrapper {
  align-items: baseline;
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  position: relative;
}

.formField {
  padding: 1rem 1.2rem;
  background: none;
  padding: 0.5rem 1.2rem;
  display: block;
  flex: 1 1;
  display: block;
  width: 100%;
  position: relative;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 1px;
  border-radius: 4px;
}

.fieldBorder {
  border: 1px solid #c9cccf;
  border-top-color: #aeb4b9;
  border-radius: 4px;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fieldSuffix {
  color: #3a3a3a;
  font-size: 1.4rem;
}

.productSorting svg {
  width: 2rem;
  height: 2rem;
  display: block;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}

.productGrid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
  gap: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3px;
  justify-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.productsPagination {
  margin-bottom: 45px;
}
