:root {
  --url: url("../utils/image3.png");
}

.mainBanner {
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  height: 490px;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  .mainBanner {
    margin-top: 0;
    width: 100%;
    height: auto;
    background-image: var(--url);
    background-position: 50% 20%; /* display the image from the center 20% down */
    background-size: cover;
    height: 400px; /* adjust the height to your liking */
    width: 100%;
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 600px) {
  .mainBanner {
    background-image: var(--url);
    background-position: 50% 20%; /* display the image from the center 20% down */
    background-size: cover;
    height: 200px; /* adjust the height to your liking */
    width: 100%;
  }
}

.discountTxt {
  font-weight: 100;
}

@media screen and (max-width: 600px) {
  .discountTxtContainer {
    font-size: 15px;
    color: #3a3a3a;
    z-index: 10;
    position: absolute;
    top: 0%;
    margin-left: 50%;
    text-align: left;
    font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
    width: 33%;
  }
}

@media screen and (min-width: 600px) {
  .discountTxtContainer {
    font-size: 24px;
    color: #3a3a3a;
    z-index: 10;
    position: absolute;
    top: 0%;
    margin-left: 5%;
    text-align: left;
    font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
    width: 33%;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .gridContainer {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.3rem;
    width: 60%;
    height: 80%;
  }
}

@media screen and (min-width: 600px) {
  .gridContainer {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1.3rem;
    width: 60%;
    height: 80%;
  }
}

@media screen and (max-width: 600px) {
  .gridContainer2 {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.3rem;
    width: 60%;
    height: 80%;
  }
}

@media screen and (min-width: 600px) {
  .gridContainer2 {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1.3rem;
    width: 60%;
    height: 80%;
  }
}

.gridItem {
  background-color: #ffffff;
  padding: 0px;
}

img {
  object-fit: contain;
  width: 100%;
}

.heading {
  text-align: left;
}

.featuredProductText {
  text-align: left;
  font-size: 17px;
  font-weight: 500;
}

.txt {
  text-align: left;
}

.buttonPrimary {
  background-color: #3a3a3a;
  border: 0;
  color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  padding: 0.7rem 1.1rem;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-top: 3%;
}

.productHeaderTxt {
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.productCardContainer {
  display: grid;
}
